<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Sing In</title>
</head>
<body>
    <h1>Perle</h1>
    <link rel="stylesheet" href="../css/index.css">

    <h2>Bienvenido</h2>

7
<div class="Perle" title="Bienvenido">
    <div id="g_id_onload"
         data-client_id="596294577475-507qila0r6n3njdtcjlh3o5iabq349mv.apps.googleusercontent.com"
        data-auto_prompt="false"
        data-callback="handleCredentialResponse">
    </div>

        <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div> 
</div>



  <!--  <button id="google_signout">
         Signout
    </button>
    -->

    <script src="https://accounts.google.com/gsi/client" async defer></script>


    <script>
        function handleCredentialResponse(response) {
          const body = { id_token: response.credential}
            console.log('id_token',response.credential);
            fetch('http://localhost:8080/api/auth/google',{
                method: 'POST',
                headers: {
                    'Content-Type':'application/json'
                },
                body: JSON.stringify(body)
            })
            
            .then(resp => resp.json() )
            .then (resp =>{
                console.log(resp)
                //localStorage.setItem('email',{correo});
            })
            .catch(console.warn)
            
        }

       /*const button = document.getElementById('google_signout');
        button.onclick = () =>{
            console.log(google.accounts.id)
            google.accounts.id.disableAutoSelect()
        }*/
   
      </script>
      
      
</body>
</html>